<div class="delete-modal">
  <h2 mat-dialog-title>წაშლის დადასტურება</h2>

  <mat-dialog-content class="modal-content">
    <p *ngIf="productCount === 1">გსურთ ამ პროდუქტის წაშლა?</p>
    <p *ngIf="productCount > 1">გსურთ წაშალოთ {{ productCount }} პროდუქტი?</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="modal-actions">
    <button mat-button (click)="dialogRef.close({ success: false })" class="cancel-btn">გაუქმება</button>
    <button
      mat-button
      color="warn"
      (click)="onDelete()"
    >
      წაშლა
    </button>
  </mat-dialog-actions>
</div>
