<h2 mat-dialog-title>{{ isEditMode ? "რედაქტირება" : "დაამატე პროდუქტი" }}</h2>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>კოდი</mat-label>
        <input matInput formControlName="code" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>სახელი</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>ფასი</mat-label>
        <input matInput type="number" formControlName="price" required />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label *ngIf="!isAddingNewCountry">ქვეყანა</mat-label>
        <mat-label *ngIf="isAddingNewCountry">დაამატე ახალი ქვეყანა</mat-label>
        <mat-select
          formControlName="country"
          required
          (selectionChange)="onCountrySelectionChange($event.value)"
          *ngIf="!isAddingNewCountry"
        >
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </mat-option>
          <mat-option [value]="'add_new'">+ ახალი ქვეყანა</mat-option>
        </mat-select>
        <input
          *ngIf="isAddingNewCountry"
          matInput
          formControlName="newCountry"
          (keyup.enter)="addNewCountry()"
          (blur)="addNewCountry()"
        />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>თარიღიდან</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFrom"
          formControlName="timeFrom"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFrom"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>თარიღამდე</mat-label>
        <input
          matInput
          [matDatepicker]="pickerTo"
          formControlName="timeTo"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerTo"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">გაუქმება</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!productForm.valid"
    >
      {{ isEditMode ? "შენახვა" : "დამატება" }}
    </button>
  </div>
</form>
