<h2 mat-dialog-title>{{ isEditMode ? 'რედაქტირება' : 'დაამატე პროდუქტი' }}</h2>

<form [formGroup]="productForm">
  <div mat-dialog-content>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>კოდი</mat-label>
        <input matInput formControlName="code" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>სახელი</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>ფასი</mat-label>
        <input matInput type="number" formControlName="price" required />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <!-- Show country selector when not adding new country -->
      <mat-form-field *ngIf="!showNewCountryInput" appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryId" (selectionChange)="onCountrySelectionChange($event)">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}}
          </mat-option>
          <mat-option value="new">+ Add New Country</mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.errors?.['countryRequired']">
          {{getCountryError()}}
        </mat-error>
      </mat-form-field>

      <!-- Show new country input with back button as prefix -->
      <mat-form-field *ngIf="showNewCountryInput" appearance="outline">
        <mat-label>New Country Name</mat-label>
        <mat-icon matPrefix class="clickable" (click)="cancelNewCountry()" matTooltip="Back to country selection">arrow_back</mat-icon>
        <input matInput formControlName="newCountry" placeholder="Enter new country name">
        <mat-error *ngIf="productForm.errors?.['countryRequired']">
          {{getCountryError()}}
        </mat-error>
      </mat-form-field>
    </div>  
  
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>თარიღიდან</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFrom"
          formControlName="createdAt"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFrom"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>თარიღამდე</mat-label>
        <input
          matInput
          [matDatepicker]="pickerTo"
          formControlName="endDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerTo"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">გაუქმება</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!productForm.valid"
      (click)="onSubmit()"
    >
      {{ isEditMode ? 'შენახვა' : 'add' }}
    </button>
  </div>
</form>